#body {
    background-color: rgb(252, 244, 237);
  }

.carousel-item img {
    max-height: 500px; 
    width: 100%; 
    object-fit: cover;
    object-position: center;
}

.keres {
   max-width: 50%;
}


legend {
    padding: 5px 10px;
    background-color: rgb(233, 233, 233);
  }

#fieldset {
    width: 80%;
}
