#body {
    background-color: rgb(252, 244, 237);
}

 .carousel-item img {
    max-height: 400px;
    object-fit: cover;
}

 .star {
    font-size: 2rem;
    cursor: pointer;
    color: gray;
    transition: color 0.2s;
  }
  .star.filled {
    color: gold;
  }

  #btnHozzaszolasKuldes {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

#receptLeiras {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
  }
  