#body {
    background-color: rgb(252, 244, 237);
}


 .star {
    font-size: 2rem;
    cursor: pointer;
    color: gray;
    transition: color 0.2s;
  }
  .star.filled {
    color: gold;
  }

  #btnHozzaszolasKuldes {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

#receptLeiras {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    font-size: large;
  }

  #kedvencReceptGomb{
    width: 100%;
  }

 
#receptKep{
  max-height: 800px;
  max-width: 1200px;
}

#hozzaszolasSzoveg {
  word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: justify;
}