
.carousel-item img {
    max-height: 150px; 
    width: 100%; 
    object-fit: cover;
    object-position: center;
}

legend {
    padding: 5px 10px;
    background-color: rgb(233, 233, 233);
 }


#fieldset {
    width: 80%;
}

#body{
    background-color: rgb(253, 222, 197);
}

#logo{
    max-width: 70% !important;
}



